#adventures-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 880px;
    background: #f9f9f9;
    height: 110px;
    border-radius: 8px;
    padding: 20px 0px 20px 16px;
    gap: 20px;
    margin: 10px 0 5px;
    cursor: pointer;
}

#adventures-item img {
    width: 87px;
    height: 71px;
    position: relative;
    border-radius: 10px;
}

#adventures-item:hover {
    background: #f2f2f2;
}

#adventure-container h2 {
    width: fit-content;
    height: 27px;
    position: relative;
    top: 21px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
    color: #5365f8;
}

#api-info {
    display: grid;
    grid-template-columns: 240px 1fr;
    align-items: center;
}

div h3 {
    width: 200px;
    height: 27px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.25px;
    color: #373B5C;
    position: relative;
    bottom: 8px;
}

#api-info p {
    width: fit-content;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    color: #A6AABF;
    line-height: 21px;
    letter-spacing: 0.25px;
    position: relative;
    bottom: 22px;
}

#location {
    position: relative;
    bottom: 15px;
    border-left: dashed 1px #5b5e6f;
    padding-left: 3.2%;
}

#location li {
    width: 500px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: 0.25px;
    color: #5B5E6F;
}

#location li::marker {
    font-size: 22px;
}

#location li:last-child {
    line-height: 28px;
}

#location span {
    width: fit-content;
    height: 24px;
    font-size: 16px;
    color: #373b5c;
    line-height: 17px;
}